*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root{
    --color-negro--:black;
    --color-gris--: grey;
    --color-blanco--:white;
    --color-naranja--:orange;
}

body {
    background-color: #222;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.container {
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #111;
}

.container__logo {
    display: flex;
    align-items: center;
}

.container__logo_csstricks{
    margin: 0;
    margin-left: 10px;
    font-size: 24px;
    cursor: pointer;
}


.logo__imagen_digital{
    cursor: pointer;
}

.container__navegacion{
    justify-content: flex-start;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.container__navegacion--color{
    color: var(--color-blanco--);
    text-decoration: none;
    margin-left: 20px;
}


.container__navegacion--color:hover{
    color: var(--color-naranja--);
}

.bloque__navegacion:hover{
    background-color: grey;
    border: solid 10px var(--color-gris--);
}

.container__buscar{
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color-blanco--);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color-negro--);
}

